  body{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  *{
      margin: 0;
      padding: 0;
  }

  i{
      margin-right: 10px;
  }

  input:focus,
  button:focus,
  .form-control:focus{
      outline: none;
      box-shadow: none;
  }

  .form-control:disabled, .form-control[readonly]{
      background-color: #fff;
  }

  .table tr,
  .table tr, td{
      vertical-align: middle;
  }

  .button-container{
      display: flex;
      align-items: center;
  }

  .button-container .form-control{
      max-width: 80px;
      text-align: center;
      display: inline-block;
      margin: 0px 5px;
  }
  #myTable .form-control{
      width: auto;
      display: inline-block;
  }

  .cart-qty-plus,
  .cart-qty-minus{
      width: 38px;
      height: 38px;
      background: #fff;
      border: 1px solid #ced4da;
      border-radius: .25rem;
  }
  .cart-qty-plus:hover,
  .cart-qty-minus:hover{
      background-color: #5161ce;
      columns: #fff;
  }

  .img-product{
      width: 50px;
      height: 50px;
      background-color: #5161ce;
      border-radius: 4px;
  }

  .img-product img{
      width: 100%;
  }